<a href="https://colab.research.google.com/github/nasirbashak/Plant-the-future/blob/master/Data%20cleaning%20for%20addresses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd

In [0]:
import numpy as np

In [74]:
df_addresses = pd.read_csv('/content/drive/My Drive/Google Earth/dataset/Addresses.csv')
df_addresses.head()

     Address       Street                 Location
0  1708 West  71st Street  (41.764877, -87.666635)
1  1275 West  71st Street  (41.765008, -87.657067)
2   920 West  71st Street  (41.765153, -87.647751)
3   758 West  71st Street  (41.765204, -87.644371)
4   240 East      71st St  (41.765644, -87.618476)

In [75]:
df_addresses.describe()

           Address     Street                 Location
count          100        100                      100
unique         100         20                      100
top     9379 South  Damen Ave  (41.861478, -87.630255)
freq             1         10                        1

In [14]:
df_traffic = pd.read_csv('/content/drive/My Drive/Google Earth/new datasets/Traffic_density_day_by_day_2000_to_2019.csv')
df_traffic.head()

  Unnamed: 0     0     1     2     3     4  ...    94    95    96   97   98   99
0     2000-1  3986  1617  8890  1201  1522  ...  1559  1363  1879  323  484  696
1     2000-2  3912  1616  8888  1209  1431  ...  1630  1255  1906  308  474  642
2     2000-3  3846  1639  8886  1278  1383  ...  1645  1182  1920  299  503  618
3     2000-4  3780  1620  8880  1399  1350  ...  1649  1121  1966  311  549  557
4     2000-5  3719  1591  8877  1524  1290  ...  1662  1173  1952  311  609  513

[5 rows x 101 columns]

In [15]:
df_traffic.tail()

     Unnamed: 0      0      1      2      3  ...     95    96     97     98     99
7300   2019-361  16366  13663  16534  17437  ...  16037  9817  12375  12447  14015
7301   2019-362  16379  13737  16549  17337  ...  16056  9771  12335  12409  14033
7302   2019-363  16393  13817  16565  17248  ...  16106  9770  12289  12364  14042
7303   2019-364  16414  13889  16581  17148  ...  16136  9753  12263  12371  14031
7304   2019-365  16431  13983  16593  17121  ...  16210  9760  12239  12363  14054

[5 rows x 101 columns]

In [22]:
df_traffic.describe()

                  0             1  ...            98            99
count   7305.000000   7305.000000  ...   7305.000000   7305.000000
mean    7272.866804   8185.442163  ...   6853.238604   6645.207255
std     3801.433794   4251.003278  ...   4103.195661   3935.110983
min     1195.000000      1.000000  ...    441.000000     75.000000
25%     4045.000000   4575.000000  ...   3389.000000   2913.000000
50%     7478.000000   8031.000000  ...   7490.000000   5861.000000
75%     9585.000000  11844.000000  ...   9386.000000  11001.000000
max    16667.000000  17121.000000  ...  15610.000000  14054.000000

[8 rows x 100 columns]

In [26]:
df_traffic.describe().iloc[5,:]

0      7478.0
1      8031.0
2     10648.0
3      8811.0
4      7969.0
       ...
95     8108.0
96     6651.0
97     6814.0
98     7490.0
99     5861.0
Name: 50%, Length: 100, dtype: float64

In [51]:
df_traffic.max()[1:]

0     16667
1     17121
2     16593
3     20149
4     17388
      ...
95    17025
96    17366
97    19263
98    15610
99    14054
Length: 100, dtype: object

In [95]:
df_traffic_threshold = df_traffic.max()[1:] + df_traffic.describe().iloc[5,:]
df_traffic_threshold = np.array(df_traffic_threshold)
df_traffic_threshold

array([24145.0, 25152.0, 27241.0, 28960.0, 25357.0, 23134.0, 27811.0,
       25546.0, 25870.0, 23336.0, 22626.0, 21516.0, 20454.0, 29434.0,
       27712.0, 22296.0, 27758.0, 29209.0, 25365.0, 23864.0, 27790.0,
       25838.0, 21411.0, 25215.0, 28943.0, 24912.0, 21751.0, 24582.0,
       25129.0, 23444.0, 27763.0, 26110.0, 25610.0, 23294.0, 25320.0,
       24193.0, 25606.0, 26094.0, 20746.0, 25443.0, 23374.0, 29153.0,
       24928.0, 30580.0, 22177.0, 25473.0, 25662.0, 24444.0, 27678.0,
       27600.0, 29099.0, 29101.0, 25458.0, 25863.0, 29097.0, 23066.0,
       25535.0, 27809.0, 26191.0, 24190.0, 27832.0, 28934.0, 29167.0,
       27591.0, 25408.0, 25671.0, 28747.0, 30528.0, 30396.0, 25722.0,
       25156.0, 30875.0, 27467.0, 29375.0, 23124.0, 21268.0, 23871.0,
       25570.0, 28267.0, 25734.0, 23342.0, 20842.0, 25425.0, 23773.0,
       22720.0, 22167.0, 22309.0, 21937.0, 21835.0, 20499.0, 25418.0,
       22741.0, 25250.0, 25141.0, 25237.0, 25133.0, 24017.0, 26077.0,
       23100.0, 19915.0], dtype=object)

In [0]:
df_addresses['Traffic Threshold'] = df_traffic_threshold

In [98]:
df_addresses

       Address       Street                 Location Traffic Threshold
0    1708 West  71st Street  (41.764877, -87.666635)             24145
1    1275 West  71st Street  (41.765008, -87.657067)             25152
2     920 West  71st Street  (41.765153, -87.647751)             27241
3     758 West  71st Street  (41.765204, -87.644371)             28960
4     240 East      71st St  (41.765644, -87.618476)             25357
..         ...          ...                      ...               ...
95  2123 South     Clark St  (41.853467, -87.630093)             25133
96   700 South   Halsted St   (41.87346, -87.647091)             24017
97  1302 South   Halsted St  (41.865313, -87.646862)             26077
98  3541 South   Halsted St  (41.829513, -87.646078)             23100
99  5348 South   Halsted St  (41.796466, -87.645213)             19915

[100 rows x 4 columns]

In [0]:
import random

In [0]:
def getYears(startYear,endYear):

  years = []
  for i in range(100):
    years.append(random.randint(startYear,endYear))

  return np.array(years)

In [102]:
getYears(2000,2015)

array([2000, 2011, 2013, 2005, 2010, 2001, 2003, 2007, 2001, 2015, 2013,
       2013, 2008, 2009, 2006, 2013, 2005, 2010, 2001, 2007, 2004, 2007,
       2010, 2001, 2009, 2007, 2003, 2007, 2002, 2005, 2014, 2008, 2013,
       2011, 2011, 2003, 2012, 2009, 2011, 2001, 2008, 2004, 2005, 2006,
       2006, 2009, 2008, 2014, 2014, 2005, 2013, 2003, 2002, 2013, 2011,
       2006, 2011, 2014, 2014, 2009, 2012, 2008, 2009, 2010, 2006, 2011,
       2011, 2009, 2012, 2010, 2007, 2004, 2013, 2007, 2012, 2000, 2007,
       2000, 2004, 2005, 2004, 2005, 2004, 2003, 2004, 2013, 2012, 2006,
       2008, 2009, 2011, 2015, 2001, 2011, 2005, 2012, 2003, 2009, 2011,
       2004])

In [103]:
df_addresses['Construction Year'] = getYears(2000,2015)
df_addresses

       Address       Street  ... Traffic Threshold Construction Year
0    1708 West  71st Street  ...             24145              2014
1    1275 West  71st Street  ...             25152              2000
2     920 West  71st Street  ...             27241              2015
3     758 West  71st Street  ...             28960              2007
4     240 East      71st St  ...             25357              2007
..         ...          ...  ...               ...               ...
95  2123 South     Clark St  ...             25133              2007
96   700 South   Halsted St  ...             24017              2013
97  1302 South   Halsted St  ...             26077              2013
98  3541 South   Halsted St  ...             23100              2005
99  5348 South   Halsted St  ...             19915              2005

[100 rows x 5 columns]

In [0]:
df_addresses.to_csv('/content/drive/My Drive/Google Earth/new datasets/Addresses_with_threshold_and_year.csv',index=False)

In [107]:
df = pd.read_csv('/content/drive/My Drive/Google Earth/new datasets/Addresses_with_threshold_and_year.csv')
df

       Address       Street  ... Traffic Threshold  Construction Year
0    1708 West  71st Street  ...           24145.0               2014
1    1275 West  71st Street  ...           25152.0               2000
2     920 West  71st Street  ...           27241.0               2015
3     758 West  71st Street  ...           28960.0               2007
4     240 East      71st St  ...           25357.0               2007
..         ...          ...  ...               ...                ...
95  2123 South     Clark St  ...           25133.0               2007
96   700 South   Halsted St  ...           24017.0               2013
97  1302 South   Halsted St  ...           26077.0               2013
98  3541 South   Halsted St  ...           23100.0               2005
99  5348 South   Halsted St  ...           19915.0               2005

[100 rows x 5 columns]